fastapi 
requests
bs4
duckduckgo-search
ddgs
spacy>=3.0.0
en-core-web-sm
uvicorn
twelvelabs
requests
yt-dlp
typing
instaloader
ffmpeg
google-genai
httpx
python-dotenv
pydantic
fastapi
uvicorn
httpx
python-dotenv
playwright
regex 
