fastapi 
requests
bs4
duckduckgo-search
ddgs
spacy>=3.7,<3.9
en-core-web-sm==3.7.1
uvicorn
twelvelabs
requests
yt-dlp
typing
instaloader
ffmpeg
google-genai
httpx
python-dotenv
pydantic
fastapi
uvicorn
httpx
python-dotenv
playwright
regex 
